/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Neuton', serif;
    color: #FFFFFF;
    text-shadow: 0px 0px 2px burlywood;
}

/* Hero section */

.header {
    background-image: url("images/sandiegocityscape.jpg");
    background-size: cover;
    background-position: center;
    color: #1D3557;
    padding: 10px 0px 200px 0px;   
}

h1, #header-message {
    background: #F1FAEE;
    padding: 5px 5px;
    width: 200px;
    margin: 5px auto;
}

#header-message {
    font-size: 16px;
    width: 300px;
    font-weight: normal 
}

/* Activities section */

.activities {
    background: #A8DADC; 
    font-size: 20px;
    color: #1D3557;
    
}

.activites-picks {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-content: center;
    
}

.petco-img, .sunset-img, .hotel-img {
    border-radius: 100%;
    width: 80px;
    height: 75px;
    margin: 0 auto;
}
.petco-img {
    background-image: url("images/petcopark.jpg");
    background-size: cover;
}

.petco-img:hover{
    background-image: url("images/petcoatnight.jpg");
}

.sunset-img {
    background-image: url("images/sunsetcliffs.jpg");
    background-size: cover;
}

.sunset-img:hover{
    background-image: url("images/sunsetcliffshover.jpg");
}

.hotel-img {
    background-image: url("images/hoteldelcoronado.jpeg");
    background-size: cover;
}

.hotel-img:hover{
    background-image: url("images/hoteldelcoronadohover.jpg");
}

.activities p {
    margin: 20px;
    font-size: 12px;
    max-width: 200px;
    min-width: 100px;
    
}

/* Top 3 section */

.top-3 {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(0.25turn,#1D3557,#457B9D,#1D3557);
    padding: 10px 5px 20px 5px;
}

.heading-top-3 {
    margin: 25px 0px 0px 0px;
    font-size: 20px;
}

li {
    padding: 6px;
    font-size: 18px;
    font-weight: normal;
}

li:hover {
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
}

a {
    color: white;
}


/*guide section */


.guide {
    background-image: url("images/sand.jpg");
    padding: 100px 20px;
    color: #1D3557;
    
}

.guide-card {
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    column-gap: 50px;
    flex-flow: row-reverse nowrap;
    text-align: center;
    background: #F1FAEE;
    
}

.guide-quote {
    font-size: 14px;
    font-style: italic; 
    padding: 5px 15px;
    margin: 0 0;
}

.avatar {
    width: 150px;
    height: 150px;
    box-shadow: 10px 10px;
    margin-right: 20px;
}


/* DRYer code
What do I need to change to write better code. Please comment here or at the top of each section.

1.
 */